
/******************************************************************************/
/*																			  */
/*					----  Defrost Colors ----								  */
/*																			  */
/******************************************************************************/

//$primaryBlue: #CAEBF2;
//$defrostShade: #8ea5aa;

$defrostBlue: #2b98b0;
$secondaryBlue: #46b9d1;
$secondaryGrey: #E9E9E9;
$char_66: #777777;
$secondarytint: #c3c3c3;
$accentColor: #FF3B3F;
$accentShade: #b3292c;
$accentTint: #ff7578;
$base: #EFEFEF;
$accentPink: #FF3B3F;
$accentShade: #b3292c;



